// importing the header
@import "../layout/header";

#cd_project {
    .cd_gallery_breadcrumb {
        @extend .cd_breadcrumb;
    }

    #cd_project_gallery {
        margin-top: 100px;
        img {
            width: 100%;
            height: auto;
        }
        .projects-item {
            margin-top: 20px;
            padding: 40px;
            background-color: $black;
            @include sm {
                padding: 20px;
            }
        }
    }
    #cd_project_why {
        margin-top: 100px;
        i {
            color: $yellow;
            font-size: 24px !important;
        }
    }
}
